
<section class="mx-5">
  <h1 class="text-2xl font-bold">Pipes Personalizados</h1>
  <h3 class="text-xl font-thin">Pipes incluidos en Angular</h3>
</section>


<div class="stats shadow">
  <div class="stat">
    <div class="stat-title">ToogleClase Pipe</div>
    <div class="stat-value">{{ name() | toggleCase: upper()}}</div>
    <div class="stat-desc">{{ name() }}</div>

    <button class="btn btn-primary mt-2" (click)="changeUpperLower()">ToggleCase</button>
  </div>
</div>

<div class="divider my-2"></div>

<section class="my-2">
  <h1 class="text-2xl font-bold">Filtrando por: XXX. Ordenando por: {{ sortBy() }}</h1>

  <div class="flex gap-2 justify-end w-full">
    <button class="btn btn-primary" (click)="sortBy.set('name')">Por nombre</button>
    <button class="btn btn-accent" (click)="sortBy.set('canFly')">Por volar</button>
    <button class="btn btn-secondary" (click)="sortBy.set('color')">Por color</button>
    <button class="btn btn-info" (click)="sortBy.set('creator')">Por creador</button>
  </div>
</section>

<div class="overflow-x-auto w-full">
  <table class="table table-xs w-full">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Puede volar</th>
        <th>Color</th>
        <th>Creador</th>
      </tr>
    </thead>
    <tbody>
      @for (heroe of heroes() | heroSortBy: sortBy(); track heroe.id; let i = $index) {
        <tr>
          <td>{{ $index + 1 }}</td>
          <td>{{ heroe.name }}</td>
          <td>
            <span class="text-xs w-44" [class.text-success]="heroe.canFly" [class.text-accent]="!heroe.canFly">
              {{ heroe.canFly | canFly }}
            </span>
          </td>
          <td>
            <span class="text-xs w-44" [style.color]="heroe.color | heroTextColor">
              {{ heroe.color | heroColor | titlecase }}
            </span>
          </td>
          <td>
            <span [class.text-primary]="heroe.creator == 0" [class.text-accent]="heroe.creator == 1">
              {{ heroe.creator | heroCreator }}
            </span>
          </td>
        </tr>
      }
    </tbody>
    <tfoot>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Puede volar</th>
        <th>Color</th>
        <th>Creador</th>
      </tr>
    </tfoot>
  </table>
</div>
