<section class="mx-5 mb-5">
  <h1 class="text-2xl font-bold">Pipes no tan comunes</h1>
  <h3 class="text-xl font-thin">Pipes incluidos en Angular</h3>
</section>


<div class="grid grid-cols-1 md:grid-col-2 lg:grid-cols-3 gap-4">

  <app-card title="i18nSelectPipe">
    <p>Saludos {{ client().name  }}, es un placer {{ client().gender | i18nSelect:invitationMap}} a nuestro evento</p>

    <button class="btn btn-primary" (click)="changeClient()">Cambiar cliente</button>
  </app-card>

  <app-card title="i18nSelectPipe">
    <p>Actualmente {{ clients().length | i18nPlural:clientsMap() }}</p>

    <button class="btn btn-primary"
      (click)="deleteClient()"
      [disabled]="clients().length == 0"
    >Borrar cliente</button>
  </app-card>

  <app-card title="Slice Pipe">
    <strong>Original</strong>
    <p class="text-primary">{{ clients().join(', ') }}</p>

    <strong class="mt-2">Slice: 0.2</strong>
    <p class="text-primary">{{ clients() | slice:0:2 }}</p>

    <strong class="mt-2">Slice: 1.2</strong>
    <p class="text-primary">{{ clients() | slice:1:2 }}</p>
  </app-card>

  <app-card title="Json Pipe">
    <pre class="text-primary">{{ clients() | json }}</pre>
    <pre class="text-primary">{{ client() | json }}</pre>
    <pre class="text-primary">{{ clients().join(', ') | json | uppercase }}</pre>
  </app-card>

  <app-card title="KeyValue Pipe">
    <pre>{{ profile | keyvalue | json}}</pre>
    <ul>
      @for (item of profile | keyvalue; track $index) {
        <li>
          <strong>{{ item.key | titlecase }} </strong>
          <span class="text-primary">{{ item.value }}</span>
        </li>
      }
    </ul>
  </app-card>

  <app-card title="Async Pipe">
    <p>{{ promiseValue | async}}</p>

    @if (promiseValue | async; as value) {
      <p class="text-primary">{{ value }}</p>
    } @else {
      <p>Espere por favor...</p>
    }

    <h3 class="text-2xl">Observale</h3>
    @if (myObservableTime | async; as valueObservable) {
      <p>{{ valueObservable }}</p>
    } @else {
      <p>Espere por favor...</p>
    }
  </app-card>

</div>
